input[type="text"]{
	padding: 10px 16px;
	margin: 8px 0;
	border-radius: 4px;
}
#first-button{
	margin-top: 20px;
}
input[type="submit"] {
	background: #eee;
	border: 1px solid #eee;
	width: 7%;
	font-family: Verdana, Helvetica, sans serif;;
	color: #686868;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 13px 8px 13px;
	border-radius: 4px;
}
input[type="submit"]:hover {
	border: 1px solid #d6d6d6;
	color:#000;
	font-weight: bold;
	padding: 8px 13px 8px 13px;
}
fieldset {
	width: 15%;
	margin: 10px auto;
	border: 1px solid #d6d6d6;
	background-color: #eee;
	line-height: 1.6em;
}
form {
	margin: 200px auto 10px auto;
	color: #5a5854;
}
#selection {
	background-color: #eee;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 30px;
	margin-top: 10px;
}
