@import url("images.css");
@import url("table.css");
@import url("inputs.css");
@import url("typography.css");
@import url("footer.css");

html, body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
header{
	height:11%;
	float:center;
	width: 70%;
	margin:20px auto;
}
#page{
	min-height: 85%;
	text-align: center;
	padding-bottom: 3%;
}
h2{
	float:left;
	text-align: left;
	font-family: DejaVu Sans;
	font-size: 130%;
	margin-top: 2%;
	color: #A52A2A;
}
#choice{
	position:relative;
	top:20px;	
}
#res {
	margin-bottom: 40px;
	font-size: 120%;
	font-weight: bold;
}